<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"/>
    <script type="text/javascript">
        function getAll() {
            $.ajax({
                url: '/employee/all',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                mimeType: 'application/json',
                success: function (data) {
                    var table = document.getElementById('table1');
                    var index;
                    var i;
                    var j;
                    for (index = data.length - 1, i = 1, j = 0; index >= 0; --index, i++, j++) {
                        var roww = table.insertRow(i);
                        var cell1 = roww.insertCell(0);
                        var cell2 = roww.insertCell(1);
                        var cell3 = roww.insertCell(2);
                        cell1.innerHTML = data[j].id;
                        cell2.innerHTML = data[j].name;
                        cell3.innerHTML = data[j].age;
                    }
                }
            });
        }
        function postEmployee() {
            var name = document.getElementById("inputName").value;
            var age = document.getElementById("inputAge").value;
            var result = {"name" : name, "age" : age};
            var jsonView = JSON.stringify(result);
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "employee/add",
                data: jsonView,
                dataType: 'json',
                timeout: 600000,
                success: function () {
                    alert("Сотрудник создан");
                }
            });
        }
    </script>
</head>
<body>
<div id="testDiv">
    <table id="table1" width="60%" border="1" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <th>Нормер</th>
            <th>Имя</th>
            <th>Возраст</th>
        </tr>

    </table>
</div>
<button id="button1" style="margin-top: 5%; margin-left: 50%;" onclick="getAll()">Получить данные</button>
    <p>Введите имя: </p>
    <input id="inputName"/>
    <p>Введите возраст: </p>
    <input id="inputAge"/>
    <br/><br/><button id="receiveData" onclick="postEmployee()">Создать пользователя</button>
</body>
</html>